*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bbb8b8;
}

#text-input {
  width: 300px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 5px;
  resize: none;
  margin-bottom: 25px;
}

#char-count {
  font-size: 24px;
  color: #333;
}

#char-count.limit-reached {
  color: red;
}

.count {
  display: inline-block;
  width: 55px;
  text-align: right;
}

.clean {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clean:hover {
  background-color: #fff;
  color: #333;
}
