*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.favorite-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.filled {
  color: red;
}
