*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #bbb8b8;
}

h1 {
  margin-bottom: 50px;
  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.gallery {
  display: flex;
  gap: 15px;
  margin: 50px 25px;
}

.gallery-item {
  width: 100%;
  max-width: 450px;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #444;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 1400px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }
}

.gallery-item:hover {
  transform: scale(1.01);
  box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.3);
}

.lightbox {
  padding: 25px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.img-box {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 950px;
  max-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 700px;
  object-fit: cover;
  margin: auto;
  border: 1px solid #fff;
  border-radius: 10px;
}

.visible {
  display: flex;
}

.btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  color: #f2eded;
  border: 3px solid #f2eded;
  background-color: transparent;
  cursor: pointer;
}

.next,
.prev {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  color: #f2eded;
  border: 3px solid #f2eded;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  right: 80px;
}

.prev {
  left: 80px;
}
